
	<h1 class="text-center">Japan-walkってなに？？</h1>
	<div class="text-center">
		<p class="about-txt">japan-walkってどんなサイト？<br>
　　　　　　旅行先で微妙に時間が空いてしまうことはないですか？<br>
　　　　　　旅行当日に悪天候で、計画いていた場所に行けなくなってしまって困ることはありませんか？<br>
　　　　　　そんな時にこのサイトで、新たな発見や情報共有をしてみませんか。<br>
　　　　　　このサイトでは有名な観光地はもちろん、あまり知られていない隠れスポットや秘境なども投稿して頂いて、<br>
           情報共有や新たな発見の場になればと思っています。<br></p>
	</div>


<section class="about-explain">
	<div class="about-content text-center">
		<p class="animate-title">日本地図から検索しよう！</p>
		<img src="<%= asset_path "about_1.jpg" %>" style="max-width: 100%;">
	</div>
</section>

<section class="about-explain">
	<div class="about-content text-center">
		<p class="animate-title">マップで撮影場所を検索してみよう！</p>
		<img src="<%= asset_path "about_2.jpg" %>" style="max-width: 100%;">
		<h4 class="text-center">投稿したい地名を入力すると、その場所にピンが立ちます。</h4>
		<h4 class="text-center">その土地の周りの様子なども見ることができて、イメージが湧きやすくなっています。</h4>
	</div>
</section>

<section class="about-explain">
	<div class="about-content text-center">
		<p class="animate-title">お気に入りの写真を何枚も投稿しよう！</p>
		<img src="<%= asset_path "about_3.jpg" %>" style="max-width: 100%;">
		<h4 class="text-center">複数枚写真を投稿すると、その写真がスライドショーで表示されます。</h4>
	</div>
</section>