<div class="container">
	<h2 class="text-center">Japan-walkってなに？？</h2>
	<div class="text-center">
		<p class="about-txt">japan-walkってどんなサイト？<br>
　　　　　　旅行先で微妙に時間が空いてしまうことはないですか？<br>
　　　　　　旅行当日に悪天候で、計画いていた場所に行けなくなってしまって困ることはありませんか？<br>
　　　　　　そんな時にこのサイトで、新たな発見や情報共有をしてみませんか。<br>
　　　　　　このサイトでは有名な観光地はもちろん、あまり知られていない隠れスポットや秘境なども投稿して頂いて、<br>
           情報共有や新たな発見の場になればと思っています。<br></p>
	</div>
	<div class="col-xs-6">
	    <img src="/assets/about_1.JPG" style="max-width: 100%;">
    </div>
</div>
