<head>
    <title>Japan Map - EXAMPLE 1</title>

</head>
<body>
	<div class="text-center top-head-text center-block">
		<h2>日本をもっと発見しよう！</h2>
	</div>
    <div class="map-container" id="map-container"></div>

</body>