<head>
    <title>Japan Map - EXAMPLE 1</title>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.japan-map.min.js"></script>
</head>
<body>
    <div id="map-container"></div>
</body>