<head>
    <title>Japan Map - EXAMPLE 1</title>

</head>
<body>
	<script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.japan-map.min.js"></script>
    <div class="map-container" id="map-container"></div>

</body>