/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#wrapper {
	background-color: #E6FFE9;;
    font-family: HiraMinPro-W6;
    color: #000000;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 200px;
    min-height: 100vh;
}



/*---------------ヘッダー--------------*/
header {
	height: 100px;
	padding-top: 30px;
	padding-right: 25px;
	margin-bottom: 25px;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

nav ul li::after{
    content: "";
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
}

nav ul li:last-child::after {
    content: "";
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

.header-title {
	font-family: 'Bangers', cursive;
	font-size: 30px;
	color: #FF4F02;
}

/*-----------body------------*/
.container {

}

/*-----------footer------------*/
footer {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0;
	background-color: #444444;
}

.nav-footer {
	margin: 20px;
}


#error_explanation {
  color: red;
}