// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.map-container {
	text-align: center;
}

.top-head-text {
    background-color: #BDB76B;
    width: 60%;
    border-radius: 40px;
}
.top-head-text h2 {
  color: #fff;
  background-size: cover;
  padding-top: 25px;
  padding-bottom:25px;

}