// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----------index------------*/
.comment {
	font-size: 18px;
}

.inview {
	border-radius: 40px;
}

.rower {
	margin-bottom: 30px;
}

.show-image {
	padding-bottom: 20px;
}

.post-show-image {
	padding-bottom: 10px;
}