<footer>
	<div class="nav-footer">
		<div class="col-xs-2 col-xs-offset-8">
			<p class="footer-txt"><%= link_to 'TOP', root_path, class: "footer-text" %></p>
		</div>
		<div class="col-xs-2">
			<p class="footer-txt"><%= link_to 'japan-walkってどんなサイト?', homes_about_path, class: "footer-text" %>
			</p>
		</div>
	</div>
	<div class="text-center margin-top copyright">
	    <p class="footer-txt">Copyright (c) japan-walk All Rights Reserved.</p>
	</div>
</footer>